dg-slide{
	.username1, .rolename, .since{
		font-size: 14px;
		color: #817f7f;
	}

	.username1{
		font-size: 13px;
	}

	.rolename{
		margin-top: 10px;
	}
	.since{
		margin-top: 10px;
		margin-left: 20px;
	}
}