dg-slide{
	.user-name1, .role-name, .since{
		font-size: 14px;
		color: #817f7f;
	}
	.user-name{
		font-weight: bold;
		color: #333;
	}

	.user-name1{
		font-size: 13px;
	}

	.role-name{
		margin-top: 10px;
	}
	.since{
		margin-top: 10px;
		margin-left: 20px;
	}
}